{% include "header.twig" %}

<section>
    <div class="container">
        <h1>User List</h1>
        <ul>
            <li><a href="#">{{ name }}</a></li>
        </ul>
    </div>
</section>

{% include "footer.twig" %}